@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
.html{
    height:100%;
}

.base{
    margin:0;
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans";
    font-size: 22px;
    line-height: 26px;
    color:#242424;
    background-color: #fbf7f4;
}
.main-container{
    flex-grow: 1;
    width: 1200px;
}
.page-header{
    background-color:#FFFFFF;
    color:#000000 ;
}
.navigation{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    align-items: stretch;
    justify-content: space-between;

}
.navigation-list{
    width:610px;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    display: flex;
}
.navigation-user{

    margin-left: auto;
    max-width: 300px;

}
.page-container{
    width: 1200px;
    margin: 0 auto;
}
.navigation-link{
    width:68px;
    height: 24px;
    margin-right: 20px;
    font-family: "PT Sans";
    font-weight: 700;
    line-height: 24px;
    font-size: 20px;
    color:#000000;
    background-color:#FFFFFF ;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
.button-all-1{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color:#756157 ;
    text-transform: uppercase;
    text-decoration: none;

}


.welcome{
    width:187px;
    height:44px;
    top:-100px;
    margin-left: 135px;
}
.town{
    font-weight: 700px;
    font-size:30px;
    line-height: 36px;
    text-align: center;
    color:#000000;
}
.reasons{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}

.advantages-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-item{
    width: 400px;
    height: 385px;
    color:#FFFFFF;
    background-color:#82B3D3 ;
    list-style: none;
}
.advantages-item-square,
.advantages-item-tourist{
    background-color: rgba(131, 179, 211, 0.12);
    color:#000000;
}
.advantages-item-road{
    background-color: rgba(131, 179, 211, 0.2);
    color:#000000;
}
.advantages-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-list{
    margin:0;
    padding: o;
    display: flex;
    flex-wrap:wrap;
    justify-content:start;

}



.invitation{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:#000000;
    text-transform: uppercase;
}
.invitation-description{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#333333;
}
.services-item-home,
.services-item-souvenir{
    background-color: rgba(131, 179, 211, 0.12);
}
.services{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: space-between;
    width:1200px;
    height: 385px;
    text-align: center;
    list-style: none;
}
.services-item{
    width: 400px;
}
.services-title{
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:#000000;
    text-transform: uppercase;
}
.services-description{
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color:#333333;
}
.interesting{
    font-weight: 700px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#000000;
    text-transform: uppercase;
}
.interesting-description{
    font-weight: 400px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#333333;
}
.button-all-2{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    background-color:#756157 ;
    text-transform: uppercase;
    text-decoration: none;
}
.registration{
    position: relative;
}
.registration-base{
    position: absolute;
    top: 0;
    text-align: center;
}

.registration-title{
    font-weight: 700px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
}
.registration-description{
    font-weight: 400px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#FFFFFF;
}
 .button-all-3{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color:#FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    text-decoration: none;
}
.footer-social-list{
    display: flex;
    list-style: none;
    width: 142px;
    height: 40px;
    align-self: stretch;
}
.page-footer{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 1,060px;
    height:50px;
    top:40px;
    left: 70px;
}
.footer-contacts{
    align-self: baseline;
}
.newsletter{
    align-self: baseline;
}
.footer-social{
    align-self: baseline;
}
.phone{
    font-weight: 400px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color:#000000;
}
.main-inner{
    position: relative;

}
.inner-header{
    position: absolute;
    top: 0;
    text-align: center;
}
.catalog-products{
    display:inline-block;
}
.breadcrumbs{
    display:flex;
    list-style: none;
}
.catalog-products-title{
    list-style: none;
}
.catalog-hotels{
    display:flex;
    flex-wrap: nowrap;
}
.hotel-card-container{
    width: 340;
    height: 438;

}
.inner-header-title{
    font-weight: 700px;
    font-size: 60px;
    line-height: 78px;
    color:#FFFFFF;
}
.breadcrumbs-link{
    font-weight: 400px;
    font-size: 16px;
    line-height: 21px;
    color:#FFFFFF;
}
.view{
    font-weight: 700px;
    font-size: 20px;
    line-height: 24px;
    color:#FFFFFF;
}

.conveniences{
    font-family: "PT Sans";
    font-weight: 400px;
    font-size: 18px;
    line-height: 23px;
    color:#FFFFFF;
}
.cost{
    font-weight: 700px;
    font-size: 20px;
    line-height: 24px;
    color:#FFFFFF;
}
.apply{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    text-decoration: none;
}

.throw-off{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-card-title{
    font-weight: 700px;
    font-size: 24px;
    line-height: 28px;
    color:#000000;
    text-decoration: none;
}
.hotel-card-price{
    font-weight: 400px;
    font-size: 18px;
    line-height: 21px;
    color:#333333;
}
.hotel-card-button-primary{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color:#756157 ;
    text-transform: uppercase;
    text-decoration: none;
}
.hotel-card-button-secondary{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    text-decoration: none;
}
.hotel-card-button-in{
    font-family: "PT Sans";
    font-weight: 700px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
    background-color:#7DB54F ;
    text-transform: uppercase;
    text-decoration: none;
}
